<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?page title="Immigration Bureau" contentType="text/html;charset=UTF-8"?><zk xmlns:h="xhtml">
    <window apply="sut.se.immigration.web.EditDataOffense" border="normal" id="wndMain3" width="80%" title=""   zclass="z-window-overlapped" style="margin: auto;padding-top: 5px;">
       <html>
            <body background="pic1/bg4.jpg">
            </body>
       </html>

        <image src="pic1/head3.jpg" width="100%"/><!-- รูปภาพ Head maxsize="600" -->
        <separator/>
            <borderlayout height="1130px" id="b1">  <!-- ความสูงส่วนกรอบข้างนอกสุด -->
                <center border="2" id="ct2">
                    <borderlayout id="b2">
                        <west  size="25%" flex="true" border="0" splittable="true"> <!-- ขนาดของกรอบ Shipping International -->
                            <div style="background:#FFFFFF">
                                <div>
                                    <groupbox id="gbLogin3" mold="3d" width="100%" style="background:#FFFAFA" >
                                         <caption height="40px" image="pic1/business_male_female_users.png" label="ชื่อผู้ใช้ระบบ" style="font-weight: bold; font-size: 20px;background:#b0e0e6"/>

                                            <panel width="100%"  border="normal"> 
                                                <panelchildren style="padding:5px;background-color:   #f0f8ff;">
                                                    <div align="center">
                                                        <vbox >
                                                        <separator/>
                                                        <hbox>
                                                        <panel framable="true" sclass="container" width="100%" height="100%">
                                                            <panelchildren style="background-color:   lightblue;">
                                                                 <image src="pic1/User1.png" width="150px" height="150px"/><!-- รูปผู้ใช้ระบบ -->
                                                            </panelchildren>
                                                        </panel>
                                                    </hbox>
                                                    <separator/>
                                                </vbox>
                
            <vbox>
                <hbox>
                <separator/>
                
                    <panel framable="true" sclass="container" width="100%" height="100%" >
                        <panelchildren>

                            <textbox id="txtInputName3" width="230px" height="20px" style="background-color : #ffd700;text-align : center" readonly="true"/>
                            <separator/>
                            <textbox id="txtInputName2" width="230px" height="20px" style="background-color : #ffd700;text-align : center" readonly="true"/>
                        </panelchildren>
                    </panel>
                </hbox>
                <separator/>
               </vbox>
              </div>
             </panelchildren>
            </panel>
           </groupbox>
           <separator/>
           <separator/>

            
            <!-- ปุ่มกดไปเมนูอื่นๆ -->
            <panel framable="true" sclass="container" width="100%" height="100%">
                <panelchildren style="padding:1px;">
                    <button id="btnSubmit12"  style="font-weight: bold;background: lightblue" label="ขึ้นทะเบียนบุคคลเข้าเมือง" sclass="myWhite" mold="trendy" width="100%" height="50px" image="/pic1/whrite.png" tooltiptext="ไปยังหน้าระบบขึ้นทะเบียนบุคคลเข้าเมือง" context="editPopup"/>
                    </panelchildren>
            </panel>
            <panel framable="true" sclass="container" width="100%" height="100%">
                <panelchildren style="padding:1px;">
                    <button id="btnSubmit13"  style="font-weight: bold;background: lightblue" label="ขึ้นทะเบียนหนังสือผ่านแดน" sclass="myWhite" mold="trendy" width="100%" height="50px" image="/pic1/books1.png" tooltiptext="ไปยังหน้าระบบขึ้นทะเบียนหนังสือผ่านแดน" context="editPopup"/>
                </panelchildren>
            </panel>
            <panel framable="true" sclass="container" width="100%" height="100%">
                <panelchildren style="padding:1px;">
                    <button id="btnSubmit14"  style="font-weight: bold;background: lightblue" label="แจ้งอยู่เกิน 90 วันของคนต่างด้าว" sclass="myWhite" mold="trendy" width="100%" height="50px" image="/pic1/Google-sites-icon1.png" tooltiptext="ไปยังหน้าระบบแจ้งอยู่เกิน 90 วัน" context="editPopup"/>
                </panelchildren>
            </panel>

            <panel framable="true" sclass="container" width="100%" height="100%">
                <panelchildren style="padding:1px;">
                    <button id="btnSubmit15"  style="font-weight: bold;background: lightblue" label="ตรวจสอบประวัติการกระทำผิด" sclass="myWhite" mold="trendy" width="100%" height="50px" image="/pic1/document_search2.png" tooltiptext="ตรวจสอบข้อมูลและประวัติการกระทำผิดของบุคคลเข้าเมือง" context="editPopup"/>
                </panelchildren>
            </panel>


<!-- calender -->
            <panel width="100%" border="normal" style="margin-top:10px;" title="Calender">
                <panelchildren style="padding:1px;">
                    <hbox>
                        <calendar width="98%" id="calener3" onChange="in.value = cal.value" />
                    </hbox>
                </panelchildren>
            </panel>
            <separator/>

            <panel height="300px" title="Clock" border="normal"  style="margin-bottom:10px;">
                <panelchildren>
                    <iframe  width="100%" height="100%" src="http://ig.gmodules.com/gadgets/ifr?url=http://www.labpixies.com/campaigns/clock/mini_clock.xml&amp;nocache=0&amp;up_skin_id=&amp;upt_skin_id=hidden&amp;lang=en&amp;country=us&amp;.lang=en&amp;.country=us&amp;synd=ig&amp;mid=34&amp;ifpctok=-3234052241260630457&amp;parent=http://www.google.com&amp;extern_js=/extern_js/f/CgJlbhICdXMrMBI4ACwrMBM4ACw/v3vgcgA0x8g.js"/>
                </panelchildren>
            </panel>
           </div>
          </div>
         </west>
            
            

        <center id="ct1">
            <panel id="panel4"  width="100%" height="100%" border="normal" sclass="p-vista">
                <panelchildren id="pc1">

                    <toolbar id="tbSave" sclass="vista" height="120px" align="center" style="padding:5px;background-color : #ffebcd">
                        
                        <toolbarbutton id="btnHome" width="150px" image="pic1/home1.png" label="Home" tooltiptext="กลับไปยังหน้าแรกของระบบ" context="editPopup" style="font-size: 15px; font-weight: bold;" />
                        <space bar="" spacing="13px"/>
                        <toolbarbutton id="btnSave" width="150px" image="pic1/save4.png" label="บันทึกข้อมูล" tooltiptext="บันทึกข้อมูลประวัติของผู้กระทำความผิด" context="editPopup" style="font-size: 15px; font-weight: bold;"/>
                        <space bar="" spacing="13px"/>
                        <toolbarbutton id="btnDelete" width="150px" image="pic1/delete2.png" label="ลบข้อมูล" tooltiptext="ลบข้อมูลการกระทำความผิด" context="editPopup" style="font-size: 15px; font-weight: bold;"/>
                        <space bar="" spacing="13px"/>
                        <toolbarbutton id="btnExit" width="200px" image="pic1/exit1.png" label="ออกจากระบบ" tooltiptext="ออกจากระบบบันทึกข้อมูล" context="editPopup" style="font-size: 15px; font-weight: bold;"/>

                        <separator/>
                        <separator/>

                        <div align="center">
                            <vbox>
                                <hbox>
                                    <textbox id="find" width="400px" style="background:#FFFFF0;text-align:center" height="45px" maxlength="8">
                                    </textbox> 
                        
                                    <toolbarbutton id="btnFind" width="130px" image="pic1/web_search2.png" label="ค้นหา" style="font-size: 15px; font-weight: bold;" tooltiptext="ใช้ข้อมูลหมายเลขคดีความใน้นหา" context="editPopup"/>
                                </hbox>
                            </vbox>
                        </div>
                    </toolbar>

                        
                <panel  id="panel5"   width="100%"  height="100%" border="normal" sclass="p-vista">
                    <panelchildren id="pc2" >
                        <grid id="showdata">
                            <auxhead>
                                <auxheader colspan="2" label="ผลการค้นหาข้อมูล" style="font-size:16px;"/>
                            </auxhead>
                            <columns>
                              <column width="130px" label="หมายจับเลขที่" align="center" style="color: black;"/>
                              <column width="220px" label="ชื่อ-นามสกุล" align="center" style="color: black;"/>
                              <column width="195px" label="คดีความ" align="center" style="color: black;"/>
                              <column width="130px" label="เริ่มอายุความ" align="center" style="color: black;"/>
                              <column width="130px" label="หมดอายุความ" align="center" style="color: black;"/>
                            </columns>
                            <rows id="rshow">

                            </rows>
                        </grid>

                        <separator/>
                        <separator/>
                        <space bar="" spacing="10px"/>
  
                        <button id="btnEdit3" width="120px" height="30px" label="แก้ไขข้อมูล" style="font-weight: bold;background-color : lightgreen;"  image="/pic1/pencil.png"/>
                        <separator/>


                        <grid vflex="0" id="gidSaveData3">
                            <auxhead>
                                <auxheader colspan="2" label="ข้อมูลประวัติส่วนตัว" style="font-size:16px;"/>
                            </auxhead>
                            <columns/>
                            <rows>
                                <row>
                                     ชื่อ-ของผู้กระทำความผิด <textbox id="txtOutput1" hflex="1"/>
                                </row>

                                <row>
                                     นามสกุล-ของผู้กระทำความผิด <textbox id="txtOutput2" hflex="1"/>
                                </row>

                                <row>
                                    เลขบัตรประจำตัวประชาชน <textbox id="txtOutput3" hflex="1" maxlength="13" readonly="true" style="background-color : #dcdcdc;"/>
                                </row>

                                <row>
                                    อายุ-ของผู้กระทำความผิด <textbox id="txtOutput4" />
                
                                </row>

                                <row>
                                    วัน/เดือน/ปี เกิด <textbox id="txtOutput5" />
                                </row>

                                <row>
                                    สัญชาติ <textbox id="txtOutput6"  hflex="1"/>
                
                                </row>

                                <row>
                                    ที่อยู่-ผู้กระทำความผิด <textbox id="txtOutput7" rows="5" width="250px" hflex="1"/>
                                </row>
                            </rows>
                        </grid>
    
                        <grid vflex="0" >
                            <auxhead>
                                <auxheader colspan="2" label="ข้อมูลและประวัติการกระทำผิด" style="font-size:16px"/>
                            </auxhead>
                            <columns/>
                            <rows>
                                <row>
                                    หมายเลขคดีความ <textbox id="txtOutput8" hflex="2" maxlength="8" readonly="true" style="background-color : #dcdcdc;"/>
                                </row>

                                <row>
                                    ชื่อคดีความ <textbox id="txtOutput9" hflex="1"/>
                                </row>

                                <row>
                                    วันเริ่มอายุคดีความ <textbox id="txtOutput11" />
                                </row>

                                <row>
                                    วันสิ้นสุดอายุคดีความ <textbox id="txtOutput12"/>
                                </row>

                                <row>
                                    รายละเอียดคดีความ <textbox id="txtOutput13" rows="10" width="250px" hflex="1"/>
                                </row>
                                <row>
                                    เจ้าของคดีความ <textbox id="txtOutput14" hflex="1"/>
                                </row>
                            </rows>
                        </grid>
                        <separator/>
                        <separator/>

                        <div align="center">
                            <vbox>
                              <hbox>
                                 <hlayout>
                                    <button id="btnSave3"  width="70px" height="70px" image="/pic1/save5.png" tooltiptext="บันทึกการแก้ไขข้อมูล" context="editPopup"/>
                                </hlayout>

                                <separator/>
                                <separator/>

                                <hlayout>
                                    <button id="btnReset3"  width="70px" height="70px" image="/pic1/clear-all2.png" tooltiptext="Clear ข้อมูลที่แสดง" context="editPopup"/>
                                </hlayout>
                              </hbox>
                            </vbox>
                        </div>
         </panelchildren>
        </panel>
       </panelchildren>
      </panel>
     </center>
    </borderlayout>
   </center>
  </borderlayout>
 </window>
</zk>

