<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?page title="Immigration Bureau" contentType="text/html;charset=UTF-8"?><zk xmlns:h="xhtml">
    <window apply="sut.se.immigration.web.HomeDataOffense" border="normal" id="wndMain4" width="80%" title=""   zclass="z-window-overlapped" style="margin: auto;padding-top: 5px;">
        <html>
            <body background="pic1/bg4.jpg">
            </body>
        </html>

        <image src="pic1/head3.jpg" width="100%"/><!-- รูปภาพ Head maxsize="600" -->
          <separator/>
          <borderlayout height="630px" >  <!-- ความสูงส่วนกรอบข้างนอกสุด -->
            <center border="2">
              <borderlayout>
                <west  size="25%" flex="true" border="0" splittable="true"> <!-- ขนาดของกรอบ Shipping International -->
                   <div style="background:#FFFFFF">
                     <div>
                       <groupbox id="gbLogin3" mold="3d" width="100%" style="background:#FFFAFA" >
                          <caption height="40px" image="pic1/business_male_female_users.png" label="ชื่อผู้ใช้ระบบ" style="font-weight: bold; font-size: 20px;background:#b0e0e6"/>

                          <panel width="100%"  border="normal"> 
                            <panelchildren style="padding:5px;background-color:   #f0f8ff;">
                              <div align="center">
                                <vbox >
                                <separator/>

                                  <hbox>
                                    <panel framable="true" sclass="container" width="100%" height="100%">
                                      <panelchildren style="background-color:   lightblue;">
                                         <image src="pic1/User1.png" width="150px" height="150px"/><!-- รูปผู้ใช้ระบบ -->
                                      </panelchildren>
                                    </panel>
                                  </hbox>
                                  <separator/>
                                </vbox>
              
               <vbox>
                 <hbox>
                 <separator/>
                    <panel framable="true" sclass="container" width="100%" height="100%" >
                       <panelchildren>

                          <textbox id="txtInputU5" width="230px" height="20px" style="background-color : #ffd700;text-align : center" readonly="true"/>
                          <separator/>
                          <textbox id="txtInputN5" width="230px" height="20px" style="background-color : #ffd700;text-align : center" readonly="true"/>
                        </panelchildren>
                    </panel>
                 </hbox>
                 <separator/>
               </vbox>
              </div>
             </panelchildren>
            </panel>
           </groupbox>
           <separator/>
           <separator/>

            
            <!-- ปุ่มกดไปเมนูอื่นๆ -->
            <panel framable="true" sclass="container" width="100%" height="100%">
                <panelchildren style="padding:1px;">
                   <button id="btnSubmit4"  style="font-weight: bold;background: lightblue" label="ขึ้นทะเบียนบุคคลเข้าเมือง" sclass="myWhite" mold="trendy" width="100%" height="50px" image="/pic1/whrite.png" tooltiptext="ไปยังหน้าระบบขึ้นทะเบียนบุคคลเข้าเมือง" context="editPopup"/>
                </panelchildren>
            </panel>
            <panel framable="true" sclass="container" width="100%" height="100%">
               <panelchildren style="padding:1px;">
                   <button id="btnSubmit5"  style="font-weight: bold;background: lightblue" label="ขึ้นทะเบียนหนังสือผ่านแดน" sclass="myWhite" mold="trendy" width="100%" height="50px" image="/pic1/books1.png" tooltiptext="ไปยังหน้าระบบขึ้นทะเบียนหนังสือผ่านแดน" context="editPopup"/>
                </panelchildren>
            </panel>
            <panel framable="true" sclass="container" width="100%" height="100%">
                <panelchildren style="padding:1px;">
                   <button id="btnSubmit6"  style="font-weight: bold;background: lightblue" label="แจ้งอยู่เกิน 90 วันของคนต่างด้าว" sclass="myWhite" mold="trendy" width="100%" height="50px" image="/pic1/Google-sites-icon1.png" tooltiptext="ไปยังหน้าระบบแจ้งอยู่เกิน 90 วัน" context="editPopup"/>
                </panelchildren>
            </panel>

            <panel framable="true" sclass="container" width="100%" height="100%">
                <panelchildren style="padding:1px;">
                   <button id="btnSubmit7"  style="font-weight: bold;background: lightblue" label="ตรวจสอบประวัติการกระทำผิด" sclass="myWhite" mold="trendy" width="100%" height="50px" image="/pic1/document_search2.png" tooltiptext="ตรวจสอบข้อมูลและประวัติการกระทำผิดของบุคคลเข้าเมือง" context="editPopup"/>
                </panelchildren>
            </panel>



         </div>
        </div>
       </west>
            

        <center >
          <panel id="pane22"  width="100%" height="100%" border="normal" sclass="p-vista" >
              <panelchildren style="background-color :black;">
                <vlayout id="adminLayoutH" visible="false">
                  <toolbar id="tbSave4" sclass="vista" height="60px" align="center" style="padding:5px;background-color : #ffebcd">
                      
                      <toolbarbutton id="save" width="150px" image="pic1/save4.png" label="บันทึกข้อมูล" tooltiptext="บันทึกข้อมูลประวัติของผู้กระทำความผิด" context="editPopup" style="font-size: 15px; font-weight: bold;"/>
                      <space bar="" spacing="13px"/>
                      <toolbarbutton id="edit" width="150px" image="pic1/Corel-Icon-Akkasone1.png" label="แก้ไขข้อมูล" tooltiptext="แก้ไขและอัพเดทข้อมูลการกระทำความผิด" context="editPopup" style="font-size: 15px; font-weight: bold;"/>
                      <space bar="" spacing="13px"/>
                      <toolbarbutton id="delete" width="150px" image="pic1/delete2.png" label="ลบข้อมูล" tooltiptext="ลบข้อมูลการกระทำความผิด" context="editPopup" style="font-size: 15px; font-weight: bold;"/>
                      <space bar="" spacing="13px"/>
                      <toolbarbutton id="exit" width="200px" image="pic1/exit1.png" label="ออกจากระบบ" tooltiptext="ออกจากระบบบันทึกข้อมูล" context="editPopup" style="font-size: 15px; font-weight: bold;"/>

                  </toolbar>
                  </vlayout>
                  <vlayout id="memberLayoutH" visible="false">
                  <toolbar id="personneltbH" sclass="vista" height="60px" align="center" style="padding:5px;background-color : #ffebcd">
                      
                      <toolbarbutton id="exit123" width="200px" image="pic1/exit1.png" label="ออกจากระบบ" tooltiptext="ออกจากระบบบันทึกข้อมูล" context="editPopup" style="font-size: 15px; font-weight: bold;"/>

                  </toolbar>
              </vlayout>
                  <separator/>
                  <separator/>
                  <separator/>
                  <separator/>

                <!-- video -->
                  <div align="center">
                    <div align="center">
                      <html>
                          <iframe width="640" height="390" src="//www.youtube.com/embed/QWn8e8OAQ_Y"></iframe>
                      </html>
                    </div>
                  </div>      
     
           </panelchildren>
          </panel>
          
     </center>
    </borderlayout>
   </center>
  </borderlayout>
 </window>
</zk>

