<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?page title="Untitiled ZUL" contentType="text/html;charset=UTF-8"?><zk xmlns:h="xhtml">
    <window apply="sut.se.immigration.web.IpAddressComposer" id="wndMain" >



    	<html>
    	<body background="pic/reg.jpg">
            </body>
    </html>



    		

    </window>
</zk>
