<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?page title="Untitiled ZUL" contentType="text/html;charset=UTF-8"?><zk xmlns:h="xhtml">
    <window apply="sut.se.immigration.web.Notify3Composer" border="normal" id="wndMa" title="" width="1000px"  style="margin: auto;padding-top: 5%;">

<html>

            <body background="picb/bg000186.jpg" width= "100%" >
            </body>
    	</html>


       	<hbox><vbox>
        	<image id="image" src="picb/h1.jpg" />
            <toolbarbutton  id="register" width="300px" image="picb/Floppy.png" label="  บันทึกข้อมูลการแจ้งอยู่แก้น90วัน"  style="background:#D1EEEE"  href="notity.zul"/>
            <toolbarbutton  id="regiser" width="300px" image="picb/Folder.png" label=" แก้ไขการแจ้งอยู่เกิน90วัน        "  style="background:#D1EEEE" href="Notify2.zul"/> 
           <toolbarbutton  id="registr" width="300px" image="picb/Search.png" label="ค้นหาและลบข้อมูลแจ้งอยู่เกิน 90วัน"  style="background:#D1EEEE" href="Notify3.zul"/>
                 <toolbarbutton  id="regstr" width="300px" image="picb/Shutdown.png" label="  Exit" style="background:#D1EEEE" />
              
            <div align="center">
    <panel   width="100%" height="100%">
        <panelchildren>
        <calendar id="cal" onChange="in.value = cal.value" />

        </panelchildren>
        </panel>
        </div>
        </vbox>

     		<panel title="" border="normal"  width="100%" height="550px" >
        		<panelchildren>
         		<vbox>
         	 		<hbox>
                <image id="imae" src="picb/btn3.png" />
                 <div align="center">
                  <separator/>
                  <separator/>
         	 			<textbox id="find" width="250px"  style="background:#FFFFF0;text-align:center" height="50px"  value="" >
        				</textbox> 

        
        				<toolbarbutton id="btn_find" width="250px" height="50px" image="picb/search-icon.png" label="  ค้นหาจากเลขที่หนังสือเดินทาง"/></div>
					</hbox>

				<grid >
        			<columns sizable="true">
           				<column label="วันที่รับแจ้ง"  width="80%"/>
           				<column label="วันที่ครบกำหนด" width="80%"/>
           				<column label="ชื่อ  -  นามสกุล" width="80%"/>
           				<column label="ผู้รับแจ้ง" width="80%"/>
                  <column label="ลบข้อมูล" width="30%"/>
        			</columns>
       
        			<rows id="tabel">
        			

              

           
        			</rows>


   				 </grid>
   
     
			 <hbox>
        
        

      </hbox>
 		</vbox>
	</panelchildren>
    </panel>

</hbox>
    </window>
</zk>