<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?page title="ระบบขึ้นทะเบียนบุคคลเข้าเมือง" contentType="text/html;charset=UTF-8"?><zk xmlns:h="xhtml">
    <window apply="sut.se.immigration.web.RegisterComposer" border="normal" id="wndMain" title=""  width="950px"  zclass="z-window-overlapped" style="margin: auto;padding-top: 1%;">
    <html>
         <body background="piczelo/c1.jpg" ></body>
    </html>

<style src="css/style.css" />
    <image src="piczelo/c2.jpg"/>
        <borderlayout height="850px" width="100%" >
        <center>
        <borderlayout height="490px"  > 
        <center border="11">
        <borderlayout>
            <west  size="25%" flex="true" border="1" splittable="true"> 
                <div style="background:#FFFFFF">
                    <groupbox id="gb" mold="3d" width="100%" style="background:#FFFAFA" >
                        <caption height="40px" label="ข้อมูลเจ้าหน้าที่"/>
                                <div align="center">
                                        <image src="pic/register1.jpg" width="180px"/>
                                        
                                </div>
                        <grid style="text-align:center" width="99%"  xmlns:w="client" id="griddata0">
                                <rows>
                                    <row>
                                        <panel   width="100%" >
                                        <panelchildren>
                                            <label value=" ID: "/><space bar="" spacing="50px"/><textbox id="l1" sclass="txb1"  hflex="1"  rows="1" value="" />
                                        </panelchildren>
                                        </panel>
                                    </row>

                                    <row>
                                            <panel   width="100%">
                                            <panelchildren>
                                                <label value=" ชื่อ - สกุล: "/><space bar="" spacing="16px"/><textbox id="l2" sclass="txb1"  hflex="1"  rows="1" value="" />
                                            </panelchildren>
                                            </panel>
                                    </row>

                                    <row>
                                            <panel   width="100%">
                                            <panelchildren>
                                                <label value=" ตำแหน่ง: "/>
                                                <combobox id="l3" sclass="txb1"  hflex="1"  rows="1" value="">
                                                    <comboitem label="เจ้าหน้าที่ตรวจ" width="495px" />
                                                    <comboitem label="เจ้าหน้าขึ้นทะเบียน" width="495px" />
                                                </combobox>
                                            </panelchildren>
                                            </panel>
                                    </row>

                                    <row>
                                        <hbox>
                                            <toolbarbutton id="Login1" image="piczelo/c8.gif"/>
                                        </hbox>  
                                    </row>



                                </rows>
                        </grid>
                    </groupbox>

                    <groupbox id="gb1" mold="3d" width="100%" style="background:#FFFAFA" >
                        <grid style="text-align:center" width="99%"  xmlns:w="client" id="griddata00">
                            <rows>
                                <row>
                                    <vbox>
                                        <toolbarbutton id="Search0" width="250px" image="piczelo/c6.png" label="ตรวจบุคคลเข้าเมือง">
                                            <attribute name="onTimer"><![CDATA[
                                                        Executions.getCurrent().sendRedirect("verification.zul");
                                                        ]]>
                                            </attribute>
                                        </toolbarbutton>
                                        <toolbarbutton id="Home1" width="250px" image="piczelo/c5.jpg" label="HOME"/>
                                        <toolbarbutton id="Logout1" width="250px" image="piczelo/c7.png" label="Logout"/>
                                    </vbox> 
                                </row>
                            </rows>
                        </grid>
                    </groupbox>

                    <groupbox id="gb2" mold="3d" width="100%" style="background:#FFFAFA" >
                        <grid style="text-align:center" width="99%"  xmlns:w="client" id="griddata000">
                            <rows>
                                <row>
                                    <vbox>
                                        <hbox><calendar width="100%" id="cal" onChange="in.value = cal.value" /></hbox>
                                    </vbox> 
                                </row>
                            </rows>
                        </grid>
                    </groupbox>

                </div>
            </west>
            
<center>
    <div>
        <groupbox width="99%" style="background:#F5F5F5" id="groupbox1">
            <caption height="40px" image="http://www.zkoss.org/zksandbox/img/Centigrade-Widget-Icons/BookBrown-16x16.png"    label="ขึ้นทะเบียนบุคคนเข้าเมือง"  />
                <vbox>
                    <grid vflex="2" id="griddata1">
                        <columns>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                        </columns>                      

                    <rows>
                        <row>
                            <label value=" ID :"/>
                            <textbox id="id1"   width="495px" />
                            <label value=" เลขที่บัตรประชาชน :"/>
                            <textbox id="id2"   width="495px" />
                        </row>
                        <row>
                            <label value=" ชื่อ :"/>
                            <textbox id="id3"   width="495px" />
                            <label value=" นามสกุล :"/>
                            <textbox id="id4"   width="495px" />
                        </row>
                        <row>
                            <label value=" เชื้อชาติ :"/>
                            <textbox id="id5"   width="495px" />
                            <label value=" สัญชาติ :"/>
                            <textbox id="id6"   width="495px" />
                        </row>
                        <row>
                            <label value=" เพศ :"/>
                            <combobox id="id7">
                                <comboitem label="ชาย" width="495px" />
                                <comboitem label="หญิง" width="495px" />
                            </combobox>
                            <label value=" วันเกิด :"/>
                            <textbox id="id8"/>
                           <!--  <datebox id="id8" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" /> -->
                        </row>
                        <row>
                            <label value=" น้ำหนัก :"/>
                            <textbox id="id9"   width="495px" />
                            <label value=" ส่วนสูง :"/>
                            <textbox id="id10"   width="495px" />
                        </row>
                        <row>
                            <label value=" เลขที่หนังสือเดินทาง :"/>
                            <textbox id="id11"   width="495px" />
                            <label value=" ประเทศ :"/>
                            <combobox id="id12">
                                <comboitem label="ประเทศบรูไน ดารุสซาลาม" width="495px" />
                                <comboitem label="ประเทศกัมพูชา" width="495px" />
                                <comboitem label="ประเทศอินโดนีเซีย" width="495px" />
                                <comboitem label="ประเทศลาว" width="495px" />
                                <comboitem label="ประเทศมาเลเซีย" width="495px" />
                                <comboitem label="ประเทศพม่า" width="495px" />
                                <comboitem label="ประเทศฟิลิปปินส์" width="495px" />
                                <comboitem label="ประเทศสิงคโปร์" width="495px" />
                                <comboitem label="ประเทศเวียดนาม" width="495px" />
                                <comboitem label="ประเทศไทย" width="495px" />
                            </combobox>
                        </row>
                        <row>
                            <label value=" วันที่ออก :"/>
                            <textbox id="id13"/>
                           <!--  <datebox id="id13" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" /> -->
                            <label value=" วันหมดอายุ :"/>
                            <textbox id="id14"/>
                            <!-- <datebox id="id14" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" /> -->
                        </row>
                        <row>
                            <label value=" พาหนะ :"/>
                            <combobox id="id15">
                                <comboitem label="รถยนต์" width="495px" />
                                <comboitem label="รถจักรยานยนต์" width="495px" />
                                <comboitem label="รถจักรยาน" width="495px" />
                                <comboitem label="ไม่มี" width="495px" />
                            </combobox>
                            <label value=" เบอร์โทร :"/>
                            <textbox id="id16"   width="495px" />
                        </row>
                        <row>
                            <button id="Save1" label="Save"/>
                            <button id="Clear2" label="Clear"/>
                        </row>
                    </rows>

                    </grid>
                </vbox>
        </groupbox>

        <groupbox width="99%" style="background:#F5F5F5" id="groupbox2">
                <caption height="40px" image="http://www.zkoss.org/zksandbox/img/Centigrade-Widget-Icons/BookBrown-16x16.png"    label="แก้ไขข้อมูลบุคคลเข้าเมือง"  />
                <vbox>
                    <grid vflex="2" id="griddata2">
                        <columns>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                        </columns>                      

                    <rows>
                        <row>
                            <textbox id="ed0" width="495px" />
                            <button id="Search1" label="ค้นหา"/>
                        </row>
                        <row>
                            <label value=" ID :"/>
                            <textbox id="ed1"   width="495px" />
                            <label value=" เลขที่บัตรประชาชน :"/>
                            <textbox id="ed2"   width="495px" />
                        </row>
                        <row>
                            <label value=" ชื่อ :"/>
                            <textbox id="ed3"   width="495px" />
                            <label value=" นามสกุล :"/>
                            <textbox id="ed4"   width="495px" />
                        </row>
                        <row>
                            <label value=" เชื้อชาติ :"/>
                            <textbox id="ed5"   width="495px" />
                            <label value=" สัญชาติ :"/>
                            <textbox id="ed6"   width="495px" />
                        </row>
                        <row>
                            <label value=" เพศ :"/>
                            <combobox id="ed7">
                                <comboitem label="ชาย" width="495px" />
                                <comboitem label="หญิง" width="495px" />
                            </combobox>
                            <label value=" วันเกิด :"/>
                            <textbox id="ed8"/>
                            <!-- <datebox id="ed8" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" /> -->
                        </row>
                        <row>
                            <label value=" น้ำหนัก :"/>
                            <textbox id="ed9"   width="495px" />
                            <label value=" ส่วนสูง :"/>
                            <textbox id="ed10"   width="495px" />
                        </row>
                        <row>
                            <label value=" เลขที่หนังสือเดินทาง :"/>
                            <textbox id="ed11"   width="495px" />
                            <label value=" ประเทศ :"/>
                            <combobox id="ed12">
                                <comboitem label="ประเทศบรูไน ดารุสซาลาม" width="495px" />
                                <comboitem label="ประเทศกัมพูชา" width="495px" />
                                <comboitem label="ประเทศอินโดนีเซีย" width="495px" />
                                <comboitem label="ประเทศลาว" width="495px" />
                                <comboitem label="ประเทศมาเลเซีย" width="495px" />
                                <comboitem label="ประเทศพม่า" width="495px" />
                                <comboitem label="ประเทศฟิลิปปินส์" width="495px" />
                                <comboitem label="ประเทศสิงคโปร์" width="495px" />
                                <comboitem label="ประเทศเวียดนาม" width="495px" />
                                <comboitem label="ประเทศไทย" width="495px" />
                            </combobox>
                        </row>
                        <row>
                            <label value=" วันที่ออก :"/>
                            <textbox id="ed13"/>
                            <!-- <datebox id="ed13" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" /> -->
                            <label value=" วันหมดอายุ :"/>
                            <textbox id="ed14"/>
                            <!-- 
                            <datebox id="ed14" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" /> -->
                        </row>
                        <row>
                            <label value=" พาหนะ :"/>
                            <combobox id="ed15">
                                <comboitem label="รถยนต์" width="495px" />
                                <comboitem label="รถจักรยานยนต์" width="495px" />
                                <comboitem label="รถจักรยาน" width="495px" />
                                <comboitem label="ไม่มี" width="495px" />
                            </combobox>
                            <label value=" เบอร์โทร :"/>
                            <textbox id="ed16"   width="495px" />
                        </row>
                        <row>
                            <button id="Update1" label="Update"/>
                            <button id="Clear3" label="Clear"/>
                        </row>
                    </rows>

                    </grid>
                </vbox>
        </groupbox>
                              
        <groupbox width="99%" style="background:#F5F5F5" id="groupbox3">
                <caption height="40px" image="http://www.zkoss.org/zksandbox/img/Centigrade-Widget-Icons/BookBrown-16x16.png"    label="ลบข้อมูลบุคคลเข้าเมือง"  />
                <vbox>
                    <grid vflex="2" id="griddata3">
                        <columns>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                        </columns>                      

                    <rows>
                        <row>
                            <textbox id="fd0"   width="495px" />
                            <button id="Search2" label="ค้นหา"/>
                        </row>
                        <row>
                            <label value=" ID :"/>
                            <textbox id="fd1"   width="495px" />
                            <label value=" เลขที่บัตรประชาชน :"/>
                            <textbox id="fd2"   width="495px" />
                        </row>
                        <row>
                            <label value=" ชื่อ :"/>
                            <textbox id="fd3"   width="495px" />
                            <label value=" นามสกุล :"/>
                            <textbox id="fd4"   width="495px" />
                        </row>
                        <row>
                            <label value=" เชื้อชาติ :"/>
                            <textbox id="fd5"   width="495px" />
                            <label value=" สัญชาติ :"/>
                            <textbox id="fd6"   width="495px" />
                        </row>
                        <row>
                            <label value=" เพศ :"/>
                            <combobox id="fd7">
                                <comboitem label="ชาย" width="495px" />
                                <comboitem label="หญิง" width="495px" />
                            </combobox>
                            <label value=" วันเกิด :"/>
                            <datebox id="fd8" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" />
                        </row>
                        <row>
                            <label value=" น้ำหนัก :"/>
                            <textbox id="fd9"   width="495px" />
                            <label value=" ส่วนสูง :"/>
                            <textbox id="fd10"   width="495px" />
                        </row>
                        <row>
                            <label value=" เลขที่หนังสือเดินทาง :"/>
                            <textbox id="fd11"   width="495px" />
                            <label value=" ประเทศ :"/>
                            <combobox id="fd12">
                                <comboitem label="ประเทศบรูไน ดารุสซาลาม" width="495px" />
                                <comboitem label="ประเทศกัมพูชา" width="495px" />
                                <comboitem label="ประเทศอินโดนีเซีย" width="495px" />
                                <comboitem label="ประเทศลาว" width="495px" />
                                <comboitem label="ประเทศมาเลเซีย" width="495px" />
                                <comboitem label="ประเทศพม่า" width="495px" />
                                <comboitem label="ประเทศฟิลิปปินส์" width="495px" />
                                <comboitem label="ประเทศสิงคโปร์" width="495px" />
                                <comboitem label="ประเทศเวียดนาม" width="495px" />
                                <comboitem label="ประเทศไทย" width="495px" />
                            </combobox>
                        </row>
                        <row>
                            <label value=" วันที่ออก :"/>
                            <datebox id="fd13" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" />
                            <label value=" วันหมดอายุ :"/>
                            <datebox id="fd14" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" mold="rounded" />
                        </row>
                        <row>
                            <label value=" พาหนะ :"/>
                            <combobox id="fd15">
                                <comboitem label="รถยนต์" width="495px" />
                                <comboitem label="รถจักรยานยนต์" width="495px" />
                                <comboitem label="รถจักรยาน" width="495px" />
                                <comboitem label="ไม่มี" width="495px" />
                            </combobox>
                            <label value=" เบอร์โทร :"/>
                            <textbox id="fd16"   width="495px" />
                        </row>
                        <row>
                            <button id="Delete1" label="Delete"/>
                            <button id="Clear4" label="Clear"/>
                        </row>
                    </rows>
                    </grid>
                </vbox>
        </groupbox>

    </div>
    </center>
    </borderlayout>

        </center>
    </borderlayout>
            
        </center>
    </borderlayout>
 </window>
</zk>