<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?page title="Immigration Bureau" contentType="text/html;charset=UTF-8"?><zk xmlns:h="xhtml">
    <window apply="sut.se.immigration.web.ViewDataOffense" border="normal" id="wnd" width="60%"  height="700px" title=": : ข้อมูลประวัติการกระทำความผิด : :" contentStyle="overflow:auto"  style="margin: auto;padding-left: 1%; auto;padding-top: 1%; auto;padding-right: 1%; auto;padding-bottom: 1%;" position="center,center" closable="true" maximizable="true" action="show: slideDown;hide: slideUp" sizable="true">
       
      <panel id="panel4"  width="100%" height="100%" border="normal" sclass="p-vista">
          <panelchildren id="pc1">
             <panel  id="panel5"   width="100%"  height="100%" border="normal" sclass="p-vista">
                <panelchildren id="pc2">   <!-- style="background-color : lightblue" -->
                  <div align="center">

                    <grid vflex="0" id="gidShowdata1" width="100%">
                        <auxhead>
                           <auxheader colspan="2" label=": : ประวัติส่วนตัว : :" style="font-size:15px;"/>
                        </auxhead>
                        <columns/>

                        <rows>
                          <row>
                              <label value="เลขบัตรประจำตัวประชาชน" style="font-size: 13px; font-weight: bold;"/>
                              <label id="txtOutput3"/>
                          </row>

                          <row>
                              <label value="ชื่อ-ของผู้กระทำความผิด" style="font-size: 13px; font-weight: bold;"/>
                              <label id="txtOutput1"/>
                          </row>

                          <row>
                              <label value="นามสกุล-ของผู้กระทำความผิด" style="font-size: 13px; font-weight: bold;"/>
                              <label id="txtOutput2"/>
                          </row>

                          <row>
                              <label value="อายุ-ของผู้กระทำความผิด" style="font-size: 13px; font-weight: bold;"/>
                              <label id="txtOutput4"/>
                          </row>

                          <row>
                              <label value="วัน/เดือน/ปี เกิด" style="font-size: 13px; font-weight: bold;"/>   <label id="txtOutput5"/>
                          </row>

                          <row>
                              <label value="สัญชาติ" style="font-size: 13px; font-weight: bold;"/>
                              <label id="txtOutput6"/>
                          </row>

                          <row>
                              <label value="ที่อยู่-ของผู้กระทำความผิด" style="font-size: 13px; font-weight: bold;"/>
                              <textbox id="txtOutput7" rows="4"  hflex="1" readonly="true"/>
                          </row>
                        </rows>
                    </grid>

          

                    <grid vflex="0" width="100%" id="gidshowdata2">
                        <auxhead>
                            <auxheader colspan="2" label=": : ประวัติการกระทำผิด : :" style="font-size:15px"/>
                        </auxhead>
                        <columns/>

                        <rows>
                            <row>
                                <label value="หมายเลขคดีความ" style="font-size: 13px; font-weight: bold;"/>
                               <label id="txtOutput8"/>
                            </row>

                            <row>
                                <label value="ชื่อคดีความ" style="font-size: 13px; font-weight: bold;"/>
                                <label id="txtOutput9"/>
                            </row>

                            <row>
                                <label value="วันเริ่มอายุคดีความ" style="font-size: 13px; font-weight: bold;"/>     <label id="txtOutput11"/>
                            </row>

                            <row>
                                <label value="วันสิ้นสุดอายุคดีความ" style="font-size: 13px; font-weight: bold;"/>      <label id="txtOutput12"/>
                            </row>

                            <row>
                                <label value="รายละเอียดคดีความ" style="font-size: 13px; font-weight: bold;"/>       <textbox id="txtOutput13" rows="7" hflex="1" readonly="true"/>
                            </row>

                            <row>
                                <label value="เจ้าของคดีความ" style="font-size: 13px; font-weight: bold;"/>
                                <label id="txtOutput14"/>
                            </row>
                        </rows>
                    </grid>

                    
                  </div>
                  <hbox>
                  
                  <button   id="btnYes" image="pic1/yes.png"  mold="trendy" width="403px" height="40px" tooltiptext="บันทึกผลการตรวจสอบข้อมูลผ่านการตรวจสอบ" context="editPopup"/>
                    
                  
                    <vbox>
                    
                    <button   id="btnNo" image="pic1/no.png"  mold="trendy" width="405px" height="40px" tooltiptext="บันทึกการตรวจสอบข้อมูลไม่ผ่านการตรวจสอบ" context="editPopup"/>
                   
       </vbox>
      </hbox>
     </panelchildren>
    </panel>
   </panelchildren>
  </panel>
 </window>
</zk>


